section p, .mini-section p {
  background: #efefef;
  color: black;
}

.mini-section {
  font-size: 12px;
}

.starred {
  border-style: solid;
  border-width: 1px;
  border-color: #16a195;
}

h1 {
  color: #16a195;
}

p {
  color: #16a195;
}

nav ul {
  background: #2c3e50;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
}

nav a {
  color: #ffffff;
  display: inline-block;
  padding: 10px 16px;
  text-decoration: none;
}

nav a.pages:hover {
  background: #16a085;
}

nav .facebook {
  background: url("../imgs/facebook.png") no-repeat;
  background-size: 20px 20px;
}

nav .twitter {
  background: url("../imgs/twitter.png") no-repeat;
  background-size: 20px 20px;
}

nav .youtube {
  background: url("../imgs/youtube.png") no-repeat;
  background-size: 20px 20px;
}

nav .facebook {
  float: right;
}
